*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


nav {
    font-size: 25px;
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    /* background-color: black; */
    
}

nav img {
    width: 150px;
}

nav ul {
    font-family: 'EB Garamond', serif;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
}

nav ul li {
    font-family: 'EB Garamond', serif;
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    font-family: 'EB Garamond', serif;
    color: white; /* Couleur du texte du header */
    text-decoration: none; /* pour enlever les lignes, de base c'est underline */
}
nav ul li a:hover {
    color: #FF7E00;
    text-decoration: underline solid white;
    transition: 0.5s;  
}
.block {
    font-family: 'EB Garamond', serif;
   block-size:  100%;
   writing-mode: horizontal-tb;
   background-color: black; 
    
}