*{
    font-family: 'EB Garamond', serif;
}

nav ul li:hover{
    color: red;
}








.container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;

}
.item1{
    width: 15%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item2 {
    text-align: center;
    width: 70%;
    margin-top: 100px;
    font-size: 2.9em;
    color: white;
    
}
.item2 strong{
    margin-top:50px;
    color: #FF7E00;    
      
}

.item3{
    width: 15%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item22 {
    margin-top: 40px;
    width: 60px;
}

.text-home{
    font-family: 'EB Garamond', serif;
    margin-top: 60px;
    text-align: center;
    color: #FF7E00; 
    font-size:25px;


}
.text-home1-1 {
    text-align: center;
    margin-top: 10px;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-left: 150px;
    word-spacing: 0.05em;
}

.text-home2-2{
    text-align: center;
    margin-top: 10px;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-left: 150px;
    word-spacing: 0.05em;
}

.orange {
    color: #FF7E00;
}
/* button en savoir plus */
.button-home{
font-size: 1em;
margin-top: 50px;
padding-top: 5px;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
display: block;
margin-left: auto;
margin-right: auto;
color: white;
background-color: #FF7E00;
border-radius: 5px;
text-decoration: none;

}

form a {
    margin-top: 100px;
    display: block;
    text-align: center;
    color:white;
    text-decoration: none;
    margin: 50px auto 0;
    font-size: 1.3em;
    background-color: #FF7E00;
    border-radius: 10px;
    width: 180px;
    padding: 5px;


}

.button-home:hover {
    background-color: rgba(0, 0, 0, 1);

}

.button-home:hover {
    background-color: rgba(0, 0, 0, 1);
}
/* fin du  button en savoir plus */

/*Footer*/
.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    margin-top: 50px;
    color: white;
    width: 100%;
    height: 120px;
    background-color: black;
}

.footer a {
    text-decoration: none;
    color: #fff; 
}
.Liens{
    justify-content: space-between;
    word-spacing: 10px;   
}

form a:hover {
 color: white;
 background-color: black;
}